<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.reactnativeleanplum">
    <uses-sdk
        tools:overrideLibrary="com.google.android.gms, com.leanplum"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" tools:node="remove"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" tools:node="remove"/>


    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" tools:node="remove"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" tools:node="remove"/>


    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" tools:node="remove"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" tools:node="remove"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" tools:node="remove"/>

    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" tools:node="remove"/>

    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" tools:node="remove"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" tools:node="remove"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" tools:node="remove"/>




    <!--for ZUK-->
    <uses-permission android:name="android.permission.READ_APP_BADGE" tools:node="remove"/>





    <application>
        <meta-data android:name="com.reactnativeleanplum.SHOW_NOTIF_IN_DEBUG" android:value="true" />
        <meta-data android:name="com.reactnativeleanplum.push.modules.notification_channel_name" android:value="lp_push" />
        <meta-data android:name="com.reactnativeleanplum.push.modules.notification_color" android:value="#FFF" />
        <meta-data android:name="com.reactnativeleanplum.push.modules.channel_importance" android:value="min" />


        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="default"/>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <receiver android:name="com.reactnativeleanplum.push.modules.RNPushNotificationPublisher" />
    <receiver android:name="com.reactnativeleanplum.push.modules.RNPushNotificationBootEventReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
    </receiver>
    <service android:name="com.reactnativeleanplum.push.modules.RNPushNotificationRegistrationService"/>



    <!--service android:name="com.reactnativeleanplum.push.modules.RNPushNotificationRegistrationService">
        <intent-filter>

        </intent-filter>
    </service-->

    <service
        android:name="com.reactnativeleanplum.push.modules.RNPushNotificationListenerService"
        android:exported="false" >
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
    </application>
</manifest>